<?xml version='1.0' encoding='utf-8'?>
<widget id="com.euxton.BT-Temp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BT-Temp</name>
    <description>
        Phonegap App scans for BLE temp, connects and updates temp
    </description>
    <author email="phil@euxton.com" href="http://euxton.com">
        PhoneGap Team
    </author>
	
	<gap:platform name="android" />
	<gap:plugin name="cordova-plugin-ble-central" spec="1.1.4" source="npm" />	
    <content src="index.html" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <allow-navigation href="http://*/*" />
    <allow-intent href="http://*/*" />
    <platform name="android" />		
    <content src="index.html" />
    <access origin="*" subdomains="true" />
</widget>

